<% provide(:title, "List") %>
<div class="container">
  <div class="row">
    <span><%= image_tag(@restaurant["featured_image"],:class =>"img-rounded") %></span>
  </div>
  <br>
  <div class="row">
    <label>Name : </label> <%= @restaurant["name"] %>
  </div>
  <br>
  <div class="row">
    <label>Rating : </label> <%= @restaurant["user_rating"]["aggregate_rating"] %>
  </div>
  <br>
  <div class="row">
    <label>Address : </label> <%= @restaurant["location"]["address"] %>
  </div>
  <div class="row">
    <label></P>Phone Number : <%= @restaurant["phone_numbers"] if @restaurant["phone_numbers"].present?%></label>
  </div>

</div>
